*{
    font-family: Arial, sans-serif, serif;
    text-decoration: unset;
    color: unset;
    background: unset;
    border: unset;
    margin: unset;
    padding: unset;
    font-size: 20px;
    font-weight: unset;
    font-style: unset;
    box-sizing: unset;
    display: unset;
    unicode-bidi: unset;
}
